.fl.w-100.bg-near-black.mb4
  .mw8.center
    .flex.flex-row.items-center.justify-center.pv3
      //- a.f5.fw4.no-underline.white-70.dn.dib-l.pv2.ph3(href='/shop/cartridges') Cartridges
      a.f5.fw4.no-underline.white-70.pv2.ph3(class=(page_name === "shop_edibles" ? "gold" : undefined) href='/shop/edibles') Edibles
      a.f5.fw4.no-underline.white-70.dn.dib-l.pv2.ph3.hover-gold.transitionAll(class=(page_name === "shop_extracts" ? "gold" : undefined) href='/shop/extracts') Extracts
      a.f5.fw4.no-underline.white-70.dn.dib-l.pv2.ph3.hover-gold.transitionAll(class=(page_name === "shop_flower" ? "gold" : undefined) href='/shop/flower') Flower
      a.f5.fw4.no-underline.white-70.dn.dib-l.pv2.ph3.hover-gold.transitionAll(class=(page_name === "shop_merchandise" ? "gold" : undefined) href='/shop/merchandise') Merchandise
      a.f5.fw4.no-underline.white-70.dn.dib-l.pv2.ph3.hover-gold.transitionAll(class=(page_name === "shop_prerolls" ? "gold" : undefined) href='/shop/prerolls') Prerolls
      a.f5.fw4.no-underline.white-70.dn.dib-l.pv2.ph3.hover-gold.transitionAll(class=(page_name === "shop_topicals" ? "gold" : undefined) href='/shop/topicals') Topicals