extends layout

block content
  .fl.w-100.bg-near-black.tc
    h1.green CVBs
  .fl.w-100.bg-white
    ul.list.pl0.mt0
      each h in cvbs
        a(href=`/cvb/${h._id}`).link.no-underline
          li.flex.items-center.lh-copy.pa3.ph3-l.bb.b--black-10.dim.pointer.center
            if h.avatarFilename
              div.h5.w5(style="overflow: hidden !important")
                img(src=`/uploads/${h.avatarFilename}` height="100%" width="100%").of-cover
            else
              div.h5.w5(style="overflow: hidden !important")
                img(src=`/image/uploads/oak-1.png` height="100%" width="100%").of-cover
            .pl3.flex-auto
              span.f5.db.b.black-70= h.name
            div.pr2
              span.f6.link.blue.hover-dark-gray=h.city + ', ' +  h.state