extends layout

block content
  .fl.w-100.relative
    .absolute.tc.w-100.h-100.absolute-fill.bg-black-20
      .flex.align-center.justify-center.items-center.flex-column.h-100
        span.lh-title.f1.fw5 Meeting Glue
        span.lh-subtitle Connecting planners and suppliers
    img(src="/image/feature-images/oakland-cty-marriott___00000.jpg" width="100%" height="auto")
  .fl.w-100.bg-near-black
    .cf.mw6.center.mt3.mb4
      h1.light-green Invite a fellow planner
      form(action="" method="POST")
      input(type="text" placeholder="Your name").mr2.input-reset.ba.b--white.br2.bg-black.white.pa2
      input(type="text" placeholder="Their email").mr2.input-reset.ba.b--white.br2.bg-black.white.pa2
      input(type="submit").mr2.input-reset.ba.b--white.br2.bg-black.white.pa2
  .fl.w-100.bg-black
    .cf.center(style="max-width: 90%")
      .fl.w-third-l.w-100.ph2
        h1 Industry News
        .fl.w-100.mb3
          .dtc.v-mid.cover.h5.tc.pa3.w-100(style='background-image:linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url(/image/tmp.jpg); background-size: cover;')
            .f6.fw2.bg-black.white.br2.pa1.mb2(style="max-width: 100px") CATEGORY
            .f4.fw6 Odio cubilia blandit nam tempor
            .f6.fw4.white.br2.ba.b--light-green.pa1.mt2(style="max-width: 100px") READ MORE
        .fl.w-100.mt5
          .dtc.v-mid.cover.h5.tc.pa3.w-100(style='background-image:linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url(/image/tmp.jpg); background-size: cover;')
            .f6.fw2.bg-black.white.br2.pa1.mb2(style="max-width: 100px") CATEGORY
            .f4.fw6 Odio cubilia blandit nam tempor
            .f6.fw4.white.br2.ba.b--light-green.pa1.mt2(style="max-width: 100px") READ MORE
    
      .fl.w-third-l.w-100.ph2
        h1 Industry News
        .fl.w-70.bg-near-black.pa3.relative
          .flex.flex-row.h4.items-center.justify-center.h3
            .w-20.f2.fw6 1
            .w-80 Lorem, ipsum dolor sit amet consectetur adipisicing elit.
          .flex.flex-row.h4.items-center.justify-center.h3
            .w-20.f2.fw6 2
            .w-80 Lorem, ipsum dolor sit amet consectetur adipisicing elit.
          .flex.flex-row.h4.items-center.justify-center.h3
            .w-20.f2.fw6 3
            .w-80 Lorem, ipsum dolor sit amet consectetur adipisicing elit.
          .flex.flex-row.h4.items-center.justify-center.h3
            .w-20.f2.fw6 4
            .w-80 Lorem, ipsum dolor sit amet consectetur adipisicing elit.
          .flex.flex-row.h4.items-center.justify-center.h3
            .w-20.f2.fw6 5
            .w-80 Lorem, ipsum dolor sit amet consectetur adipisicing elit.
          .flex.flex-row.h4.items-center.justify-center.h3
            .w-20.f2.fw6 6
            .w-80 Lorem, ipsum dolor sit amet consectetur adipisicing elit.

      .fl.w-third-l.w-100.ph2
        h1 Industry News
        .fl.w-100
          img.db.w-100.br2.br--top(src='/image/tmp.jpg', alt='Photo of a kitten looking menacing.')
          .pa2.ph3-ns.pb3-ns
            .dt.w-100.mt1
              .dtc
                h1.f5.f4-ns.mv0 Headline
              .dtc.tr
                h2.f5.mv0 1 week ago
            p.f6.lh-copy.measure.mt2.light-gray Lorem ipsum dolor sit amet consectetur adipisicing elit. 
  
          img.db.w-100.br2.br--top(src='/image/tmp.jpg', alt='Photo of a kitten looking menacing.')
          .pa2.ph3-ns.pb3-ns
            .dt.w-100.mt1
              .dtc
                h1.f5.f4-ns.mv0 Headline
              .dtc.tr
                h2.f5.mv0 1 week ago
            p.f6.lh-copy.measure.mt2.light-gray Lorem ipsum dolor sit amet consectetur adipisicing elit. 
  
  .fl.w-100.bg-white.black.ph2
    .fl.w-third-l.w-100.ph5
      h1 Hot Openings
      article.dt.w-100.bb.b--black-05.pb2.mt2(href='#0')
        .dtc.w4.v-mid
          img.ba.b--black-30.shadow-1.db(src='/image/arlington.png')
        .dtc.v-mid.pl3
          h1.f6.f5-ns.fw6.lh-title.black.mv0 Arlington Hotel 
          h2.f6.fw4.mt0.mb0.black-60 Arlington, VA
      
      article.dt.w-100.bb.b--black-05.pb2.mt2(href='#0')
        .dtc.w4.v-mid
          img.ba.b--black-30.shadow-1.db(src='/image/arlington.png')
        .dtc.v-mid.pl3
          h1.f6.f5-ns.fw6.lh-title.black.mv0 Arlington Hotel 
          h2.f6.fw4.mt0.mb0.black-60 Arlington, VA
      
      article.dt.w-100.bb.b--black-05.pb2.mt2(href='#0')
        .dtc.w4.v-mid
          img.ba.b--black-30.shadow-1.db(src='/image/arlington.png')
        .dtc.v-mid.pl3
          h1.f6.f5-ns.fw6.lh-title.black.mv0 Arlington Hotel 
          h2.f6.fw4.mt0.mb0.black-60 Arlington, VA
      
      article.dt.w-100.bb.b--black-05.pb2.mt2(href='#0')
        .dtc.w4.v-mid
          img.ba.b--black-30.shadow-1.db(src='/image/arlington.png')
        .dtc.v-mid.pl3
          h1.f6.f5-ns.fw6.lh-title.black.mv0 Arlington Hotel 
          h2.f6.fw4.mt0.mb0.black-60 Arlington, VA
      
      article.dt.w-100.bb.b--black-05.pb2.mt2(href='#0')
        .dtc.w4.v-mid
          img.ba.b--black-30.shadow-1.db(src='/image/arlington.png')
        .dtc.v-mid.pl3
          h1.f6.f5-ns.fw6.lh-title.black.mv0 Arlington Hotel 
          h2.f6.fw4.mt0.mb0.black-60 Arlington, VA
      
      article.dt.w-100.bb.b--black-05.pb2.mt2(href='#0')
        .dtc.w4.v-mid
          img.ba.b--black-30.shadow-1.db(src='/image/arlington.png')
        .dtc.v-mid.pl3
          h1.f6.f5-ns.fw6.lh-title.black.mv0 Arlington Hotel 
          h2.f6.fw4.mt0.mb0.black-60 Arlington, VA
      
    .fl.w-third-l.w-100
      h1 Featured Properties
      .w-100.pb2.pr5.mt2(href='#0')
        img.h5(src="image/arlington.png")
        h1.fw4.f5.purple Arlington, VA
      .w-100.pb2.pr5.mt2(href='#0')
        img.h5(src="image/arlington.png")
        h1.fw4.f5.purple Arlington, VA
    .fl.w-third-l.w-100
      h1 Polls
      .fl.w-100
        form(action="" method="post")
          h4.measure-narrow Aperiam dolore error repellat, provident enim modi aliquid eaque beatae odit eveniet adipisci voluptatum? 
          div.pt3
            input(type="radio" id="opt1" name="opt1" value="opt1" checked)
            label.pl2(for="opt1") Option 1
          div.pt3
            input(type="radio" id="opt1" name="opt1" value="opt1" checked)
            label.pl2(for="opt1") Option 1
          div.pt3
            input(type="radio" id="opt1" name="opt1" value="opt1" checked)
            label.pl2(for="opt1") Option 1
          div.pt3
            input.pa2.br1.ba.b--green.bg-purple.white(type="submit")
      .fl.w-100.mt5
        form(action="" method="post")
          h4.measure-narrow Aperiam dolore error repellat, provident enim modi aliquid eaque beatae odit eveniet adipisci voluptatum? 
          div.pt3
            input(type="radio" id="opt1" name="opt1" value="opt1" checked)
            label.pl2(for="opt1") Option 1
          div.pt3
            input(type="radio" id="opt1" name="opt1" value="opt1" checked)
            label.pl2(for="opt1") Option 1
          div.pt3
            input(type="radio" id="opt1" name="opt1" value="opt1" checked)
            label.pl2(for="opt1") Option 1
          div.pt3
            input.pa2.br1.ba.b--green.bg-purple.white(type="submit")