.fl.w-100.bg-black-80
  .mw8.center
    .flex.flex-row.items-center.pv3
      .w-30.pl2
        a.link.dim.pointer(href="/").white
          img(src="/image/logo.png" width="100" height="auto")
          p.small.fw1.mt0 admin panel
      .w-70
        a(onClick="openNav()").db.dn-l.fr.f2.fw6.pointer.dim.mr3 &#9776;
        a.f5.fw4.hover-white.no-underline.white-70.dn.dib-l.pv2.ph3(href='/admin') Dashboard
        a.f5.fw4.hover-white.no-underline.white-70.dn.dib-l.pv2.ph3(href='/admin/users') Users
        a.f5.fw4.hover-white.no-underline.white-70.dn.dib-l.pv2.ph3(href='/admin/hotels') Hotels
        a.f5.fw4.hover-white.no-underline.white-70.dn.dib-l.pv2.ph3(href='/admin/CVBs') CVBs
        a.f5.fw4.hover-white.no-underline.white-70.dn.dib-l.pv2.ph3(href='/admin/features') Features
        a.f5.fw4.hover-white.no-underline.white-70.dn.dib-l.pv2.ph3(href="/logout") Logout