extends layout

block content
  .w-100.bg-near-black.flex.flex-row.items-center.justify-center.pa3
    .w-50.f2.fw2 JOEGEE1122
    .w-50.f4.fw2.gray Planner &middot; Las Vegas, NV
  .fl.w-100.bg-white.pa3
    .flex.flex-row.flex-wrap.black
      .w-100.w-50-ns.flex.flex-row
        .w-50
          img(src="//placehold.it/200x200").br-100
        .w-50.flex.justify-center.flex-column
          .f4.fw3.black JoeGee1112
          .f5.fw3.green Las Vegas, NV
          .f5.fw3.gray Member since 2017 
      .w-100.w-50-ns.flex.flex-row.justify-center.items-center
        button.bg-green.ba.b--green.white.br2.h2.mh2.dim.pointer Send message
        button.bg-green.ba.b--green.white.br2.h2.mh2.dim.pointer Follow planner
        button.bg-green.ba.b--green.white.br2.h2.mh2.dim.pointer Report planner
    .flex.flex-row
      .w-100.w-50-ns.bg-light-gray.pa2.br2.mv3.ba.b--black-10.black
        .f2.fw1.purple Reviews
        .f4.fw3.mv2 Hotels (17)
        .f4.fw3.mv2 Convention Center (17)
        .f4.fw3.mv2 Technology (17)
        .f4.fw3.mv2 Destination MGT (17)
        .f4.fw3.mv2 Helpful Votes (17)
      .w-100.w-50-ns
        .f5.mb2.tc.black Badges &amp; Awards
        .flex.flex-row
          .w-third.flex-column.items-center.justify-center.tc
            img(src="//placehold.it/100x100").br-100.w-100.pa2
            .gray International
          .w-third.flex-column.items-center.justify-center.tc
            img(src="//placehold.it/100x100").br-100.w-100.pa2
            .gray City
          .w-third.flex-column.items-center.justify-center.tc
            img(src="//placehold.it/100x100").br-100.w-100.pa2
            .gray Expert
  //- Contact:   George Yin
  //- Phone:	   202-495-0828
  //- Email:	   George@yinhospitality.com

  //- Proposal Deadline: January 30, 2019
  //- Decision Date: February 2019

  //- Group Profile: Vivafest 2019  Vegas International Variety Act Festival (VIVAFest). www.vivafest.com 

  //- Program: Rooms Only


  //- Here is a sample rooms only RFP. The room block, dates, rates should be standard items on the form.

  //- Yellow items are answers that can be pulled from the hotel “fact sheet”
  //- Blue items are custom concessions that the planner can choose to add when building the rfp

  //- Let me know if this doesn’t make sense. Should be pretty straight forward.