extends layout

block content
  include navbar
  .fl.w-100.tc.pa3.green.bg-white
    h1 Success! 
    p.gray Your form was submitted.
    a(href="/shop")
      button.pa3.mt3.dim.pointer.bg-green.white.ba.b--green Take me to the store