extends layout

block content 
  div.container.grid-xl
    div.text-center(style="padding: 4rem 0")
      h1 Please login
      p Error: You must be signed in to access this page.
      a(href="/login") Login